body{
    background: rgb(242,242,242);
}
.item_box{
    width: 1170px;
    height: auto;
    overflow: auto;
    padding: 0 10px;
    margin: 0 auto;
    background: white;
    padding-bottom: 100px;


}
.breadcrumb{
    margin: 0px;
}

.select_nav{
    margin-top: 0px;
    /*margin-left: -10px;*/
    z-index: 99;
    /*position: absolute;*/
}
.line_s{
    width: 100%;
    margin-bottom: 10px;
    float: left;

}
.select_nav input,.select_nav button{
    height: 30px;
    width: 70px;
    font-size: 10px;
    margin-top: 5px;
    margin-right: 5px;
}
.n_li{
    float: left;
}

.item_list{
    width: 100%;
    height: auto;
    overflow: auto;
    border-bottom: 1px solid silver;
}
.m-style{
    margin-top: 10px;
    float: right;
}
.item_li{
    width: 265px;
    height:300px;
    overflow: auto;
    background: white;
    float: left;
    margin: 10px;
    border: 1px solid rgba(2,2,2,0.2);
    padding-bottom: 20px;

}
.item_li img{
    width: 263px;
}
.item-name,.item-mon{
    width: 188px;
    margin-top: 12px;
    margin-left: 10px;
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    /*font-weight: bold;*/
    color: black;
}
.item-mon{
    color: #ff1b46;
    font-size: 18px;

}
